doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title PotatoTM Landing Page
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/css/main.css")
		
		//if lt IE 9
		script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      

	body
		include ./sections/_mobile-nav.jade
		include ./sections/_home.jade
		include ./sections/_shapes.jade
		include ./sections/_healthy.jade
		include ./sections/_transformable.jade
		include ./sections/_testimonials.jade
		include ./sections/_order.jade
		include ./sections/_footer.jade
		
		
		script(src='assets/js/vendor/jquery-2.1.4.min.js')
		script(src='assets/js/vendor/jquery.countTo.js')
		script(src='assets/js/main.js')


			
