.container
  max-width: 1120px
  width: 90%
  margin: 0 auto
  text-align: center

.row
  &:after,
  &:before
    content: ""
    display: table

  &:after
    clear: both

[class*='col-']
  float: left

@media (max-width: $screen-xs-max)
  .container
    width: 94%
