section.footer
  .container
    .row
      p Since you came here to read this. have one for free! #[br ] Copyright © 2015 #[span Potato]#[span TM] All rights reserved.
      
      ul
        li: a(href="http://") ABOUT
        li: a(href="http://") FEATURES
        li: a(href="http://") NUTRITION
        li: a(href="http://") CONTACT US
