section.footer
  .container
    .row
      
      include ./_nav-links.jade
      p Since you came here to read this. have one for free! #[br ] Copyright © 2015 #[span Potato]#[span TM] All rights reserved.
