section.healthy
  .potato-sack-left
  .potato-sack-right
    
  .container
    .row
      h2 Is #[span Potato]#[span TM] healty? Yes it is!
      p The majority of carbohydrates in potatoes are complex #[br] carbohydrates, your body's main energy source.
      .potato-healthy
        img(src="assets/images/potato-healthy.png", alt="")
      ul
        li #[span 110] calories
        li #[span 26g] carbohydrate
        li #[span 3g] protein
        li #[span 0g] fat
