section.healthy
  .potato-sack-left
  .potato-sack-right
    
  .container
    .row
      h2 Is #[span Potato]#[span TM] healty? Yes it is!
      p The majority of carbohydrates in potatoes are complex #[br] carbohydrates, your body's main energy source.
      .potato-healthy
        img(src="assets/images/potato-healthy.png", alt="")
      ul
        li #[span.timer(data-from="0" data-to="110") 0] #[p.clear calories]
        li #[span.timer(data-from="0" data-to="26") 0]#[span g] #[p.clear carbohydrate]
        li #[span.timer(data-from="0" data-to="3") 0]#[span g] #[p.clear protein]
        li #[span 0g] #[p.clear fat]
