section.home
  .container
    .row
      .logo
        p PotatoTM
      
      nav
        ul
          li: a(href="http://") ABOUT
          li: a(href="http://") FEATURES
          li: a(href="http://") NUTRITION
          li: a(href="http://").btn BUY it NOW
        
    .row.hero    
      h1 "Sweet, Nutritious and Delicious"
      p The Key to happines is hidden in the #[span Potato]#[span TM]
      img(src="assets/images/hero-potatoes.png", alt="")
        
        
