ul
  li: a(href="#home") HOME
  li: a(href="#") ABOUT
  li: a(href="#shapes") SHAPES
  li: a(href="#healthy") HEALTHY
  li: a(href="#transformable") TRANSFORMABLE
  li: a(href="#testimonials") TESTIMONIALS
  li: a(href="#order").btn BUY it NOW
