section.order
  .container
    .row
      h2 Order one (or more) today!
      .col-1
        .list
          h4 #[span Potato]#[span TM] Lite
          ul
            li Small and compact
            li Highly portable
            li Unapologetically delicious
        .cta
          a(href="#").btn ORDER
          p starting at #[span $9.99]
          img(src="assets/images/potato-order-small.png", alt="")
        
      .col-1
        .list
          h4 #[span Potato]#[span TM] Pro
          ul
            li Highly portable
            li Easily sliceable
            li Unapologetically delicious
            li Very nutritious
        .cta
          a(href="#").btn ORDER
          p starting at #[span $19.99]
          img(src="assets/images/potato-order-big.png", alt="")
        
      .col-1
        .list
          h4 #[span Potato]#[span TM] Team
          ul
            li Ideal for bigger groups
            li Easily sliceable
            li Unapologetically delicious
            li Very nutritious
        .cta
          a(href="#").btn ORDER
          p starting at #[span $39.99]
          img(src="assets/images/potato-order-team.png", alt="")
        
      
        
      
