section.shapes
  .potato-blur-1
  .potato-blur-2
  .potato-blur-3
  .potato-blur-4
      
  .container
    .row
      h2 Different shapes and sizes
      p #[span Potato]#[span TM] comes in many different unique shapes and sizes.#[br] Find the one that fits your personal preferences
      img(src="assets/images/five-potatoes.svg", alt="", id="five-potatoes")
      img(src="assets/images/potato-big.png", alt="", id="potato-big")
      img(src="assets/images/potato-small.png", alt="", id="potato-small")
