section.testimonials
  
  h2 100% Customer satisfaction!
  .slider-container
    .slider(id="slider")
      span.control_next #[img(src="assets/images/arrow-potato.svg", width="45px", alt="")]
      span.control_prev #[img(src="assets/images/arrow-potato.svg", width="45px", style="transform: scale(-1);", alt="")]
      ul
        li
          .review-wrapper
            .text "Potato was of fantastic quality! This is a high-standard and first-class product. Splendid packaging. Exceptionally swift delivery."
            img(src="assets/images/arrow-testimonials.svg", alt="").border-test
            .author
              img(src="assets/images/adrian.png", alt="")
              p Adrian Hudson. #[span.job-title Potato designer]
        li
          .review-wrapper
            .text "I was skeptic at first, but when I tried the Potato for the first time, my life has completely changed! I'm a better person now. Everything is better with the Potato."
            img(src="assets/images/arrow-testimonials.svg", alt="").border-test
            .author
              img(src="assets/images/kat.png", alt="")
              p Jane Doe. #[span.job-title Potato eater]
        li
          .review-wrapper
            .text "Potato responds well when put under pressure – and accepts that pressure is a regular part of the job. Potato can hold and engage an audience."
            img(src="assets/images/arrow-testimonials.svg", alt="").border-test
            .author
              img(src="assets/images/jay.png", alt="")
              p Jay Michaels. #[span.job-title Potato masher]
