section.transformable(id="transformable")
    
  .container
    .row
      h2 Easily transformable
      p Because of it's unique structure, #[span Potato]#[span TM] is easily usable and transformable in any way you can think of. 

      .potato-rendered(id="potato-rendered")
        img(src="assets/images/potatorender-1.png", alt="", id="rendered")
        .potato-nonrendered(id="nonrendered")
        .hoverdiv
          span.handle(id="handle")
      
  .potato-container
    .mashed-potatoes
    .potato-wedges

    
