section.transformable
  .mashed-potatoes
  .potato-wedges
    
  .container
    .row
      h2 Easily transformable
      p Because of it's unique structure, #[span Potato]#[span TM] is easily usable #[br]and transformable in any way you can think of. 
      
      
      //- img(src="assets/images/potatorender-1.png", alt="")
      img(src="assets/images/potatorender-2.png", alt="").potato-slide
