section.footer
  height: 130px
  background: #ffffff
  color: #686868

  .row
    padding-top: 30px

  p
    float: left
    font-size: 13px

    span
      font-weight: bold

      &:last-of-type
        font-size: 8px
        line-height: 14px
        vertical-align: top
        margin-left: -2px

  ul
    float: right
    display: inline
    font-size: 14px

    li
      list-style: none
      display: inline
      padding: 4px 12px

  a
    color: #686868
    text-decoration: none

    &:hover
      text-decoration: underline
