section.healthy
  background:
    image: url('../images/healthy-plate.png')
    size: cover
    image: radial-gradient(#82A86E, #79A067 60%)
  max-height: 1080px
  padding: 40px 0
  color: white
  position: relative
  overflow: hidden

  .potato-sack-left
    background:
      image: url('../images/potato-sack-left.png')
      size: contain
    width: 770px
    height: 824px
    left: -495px
    bottom: -370px
    position: absolute
    background-repeat: no-repeat

  .potato-sack-right
    background:
      image: url('../images/potato-sack-right.png')
      size: contain
    width: 501px
    height: 735px
    right: -305px
    bottom: -310px
    position: absolute
    background-repeat: no-repeat

  .potato-healthy
    max-width: 400px
    margin: 0 auto

    img
      width: 100%
      height: auto

  h2
    span
      font-weight: bold

      &:last-of-type
        font-size: 14px
        line-height: 45px
        vertical-align: top
        margin-left: -3px

  p
    margin: 0 0 50px
    font-size: 18px

  ul
    list-style-type: none
    margin: 40px auto 0
    padding: 0
    max-width: 70%

    li
      display: inline-block
      width: 20%
      margin: 0
      padding: 0
      font-size: 22px
      position: relative

      &:after
        content: ""
        background: #ffffff
        position: absolute
        top: 0
        left: 30%
        width: 40%
        height: 1px

      span
        font-size: 44px
        display: inline-block
        line-height: 1.3em

        .clear
          content: ""
          display: table
          clear: both

    a
      padding: 9px 15px

  .complex
    max-width: 550px
    margin-left: auto
    margin-right: auto

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
    padding-top: 20px

    .potato-healthy
      max-width: 45%

    p
      margin-bottom: 30px

    ul
      margin-top: 20px
      max-width: 80%

    .potato-sack-left
      width: 520px
      left: -315px
      bottom: -490px

    .potato-sack-right
      width: 360px
      right: -190px
      bottom: -410px


  // Media Queries for smartphones
  @media (max-width: $screen-xs-max)
    .row
      width: 94%
      margin: 0 auto

    h2 span:last-of-type
      font-size: 13px
      line-height: 20px

    p
      margin: 15px auto
      font-size: 14px

    .potato-sack-left
      width: 265px
      left: -182px
      bottom: -530px
      opacity: 0.8

    .potato-sack-right
      width: 200px
      right: -130px
      bottom: -430px
      opacity: 0.8

    .potato-healthy
      img
        width: 70%
        margin-bottom: 10px
        max-width: 400px

    ul
      max-width: 100%
      margin-top: 10px

      li
        width: 50%
        margin: 0 -15px

        span
          font-size: 32px
          margin-top: 3px
          line-height: 1.1

        p
          margin: 5px auto 25px
