section.shapes
  background:
    image: url('../images/shapes-plate.png')
    size: cover
  height: 100%
  max-height: 1080px
  position: relative
  overflow: hidden
  padding: 40px 0

  [class*='potato-blur-']
    position: absolute
    background-repeat: no-repeat

  .row
    position: relative
    text-align: center
    color: $text-color
    z-index: 10
    width: 80%
    margin: 0 auto


  .potato-blur-1
    background:
      image: url('../images/potato-blur-1.png')
    width: 248px
    height: 339px
    left: -120px
    top: -85px

  .potato-blur-2
    background:
      image: url('../images/potato-blur-2.png')
    width: 323px
    height: 356px
    right: -20px
    top: -274px

  .potato-blur-3
    background:
      image: url('../images/potato-blur-3.png')
    width: 341px
    height: 457px
    right: -194px
    bottom: -178px

  .potato-blur-4
    background:
      image: url('../images/potato-blur-4.png')
    width: 149px
    height: 186px
    left: -50px
    bottom: 90px

  p
    margin: 10px 0 40px
    font-size: 18px

  span
    font-weight: bold

    &:last-of-type
      font-size: 8px
      vertical-align: top
      line-height: 12px
      margin-left: -2px

  #five-potatoes
    width: 90%
    margin: 10px 0 40px

  #potato-big
    display: inline-block
    width: 60%

  #potato-small
    display: inline-block
    width: 30%
