section.transformable
  background:
    color: #f1e0b4
    size: cover
  height: 820px
  padding: 40px 0
  color: #ac9254
  text-align: center
  position: relative

  .potato-container
    height: 415px
    overflow: hidden
    position: absolute
    bottom: -100px
    width: 100%

  .mashed-potatoes
    background:
      image: url('../images/mash-potatoes.png')
      size: cover
    width: 509px
    height: 415px
    left: -99px
    position: absolute
    background-repeat: no-repeat
    z-index: 100

  .potato-wedges
    background:
      image: url('../images/potato-wedges.png')
      size: cover
    width: 576px
    height: 384px
    right: -200px
    position: absolute
    background-repeat: no-repeat
    z-index: 100

  #potato-rendered
    margin: 0 auto
    width: 75%
    position: relative
    font-size: 0
    -ms-touch-action: none
    -webkit-touch-callout: none
    -webkit-user-select: none

    &:hover
      cursor: col-resize

    img
      width: 100%
      height: auto

  #nonrendered
    background:
      image: url('../images/potatorender-2.jpg')
      repeat: no-repeat
      size: cover
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 50%

  .handle
    position: absolute
    background-image: url('../images/slider.png')
    background-size: contain
    background-repeat: no-repeat
    top: -5px
    left: calc(50% - 10px)
    height: 100%
    width: 20px
    margin-left: 4px

  h2
    font-size: 55px
    font-weight: 300
    margin: 50px 0 0
    line-height: 1.6em

  p
    margin: 0 0 50px
    font-size: 20px

    span
      font-weight: bold

      &:last-of-type
        font-size: 10px
        line-height: 18px
        vertical-align: top
        margin-left: -2px
