section.transformable
  background:
    color: #f1e0b4
    size: cover
  height: 720px
  padding: 40px 0
  color: #ac9254
  text-align: center
  position: relative

  .potato-container
    height: 415px
    overflow: hidden
    position: absolute
    bottom: -80px
    width: 100%

  .mashed-potatoes
    background:
      image: url('../images/mash-potatoes.png')
      size: contain
    width: 509px
    height: 415px
    left: -99px
    position: absolute
    background-repeat: no-repeat
    z-index: 100

  .potato-wedges
    background:
      image: url('../images/potato-wedges.png')
      size: contain
    width: 576px
    height: 384px
    right: -200px
    position: absolute
    background-repeat: no-repeat
    z-index: 100

  #potato-rendered
    margin: 0 auto
    width: 75%
    position: relative
    font-size: 0
    -ms-touch-action: none
    -webkit-touch-callout: none
    -webkit-user-select: none

    &:hover
      cursor: col-resize

    img
      width: 100%
      height: auto

  #nonrendered
    background:
      image: url('../images/potatorender-2.jpg')
      repeat: no-repeat
      size: cover
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 50%

  .hoverdiv
    position: absolute
    z-index: 1000
    left: 0
    top: 0
    right: 0
    height: 100%

  .handle
    position: absolute
    background-image: url('../images/slider.png')
    background-size: contain
    background-repeat: no-repeat
    top: -5px
    left: calc(50% - 10px)
    height: 100%
    width: 20px
    margin-left: 4px


  p
    margin: 0 0 50px
    font-size: 18px

    span
      font-weight: bold

      &:last-of-type
        font-size: 8px
        vertical-align: top
        line-height: 12px
        margin-left: -2px

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
    padding-top: 20px
    height: 570px
    #potato-rendered
      width: 90%

    .mashed-potatoes
      width: 320px
      top: 110px
      left: -90px

    .potato-wedges
      width: 380px
      top: 110px
      right: -190px

  // Media Queries for smartphones
  @media (max-width: $screen-xs-max)
    height: 420px

    p
      font-size: 14px
      width: 95%
      margin: 10px auto 30px

    #potato-rendered
      width: 100%
      max-width: 615px

    .potato-container
      height: 150px
      bottom: -40px

    .mashed-potatoes
      height: 155px
      left: -50px

    .potato-wedges
      height: 150px
      right: -430px
